<div class="panel panel-danger">
    <div class="panel-heading">
        <h5 class="display-5">{{post.title}}</h5>
    </div>
    <div class="panel-body">
        
        <div class="well well-sm" >
            <img  src="{{ post.author.avatar(36) }}" alt="Card image" style="width:50px;float:left">
            <span></span>
            <p class="display-1">
                <p>{{ post.author.name }} </p>
                <p>{{ post.author.designation}} </p>
                <a href="{ url_for('mentor', id=post.author.id) }}" class="btn btn-primary">See Profile</a>
            </p>
        </div>
        
        <p >
            {{ post.body }}
        </p>
    </div>
</div>